<div class="container">
    <div class="menu-title">
        <div class="menu">
          <div class="menu"><i class="bi bi-list-nested"></i></div>
        </div> 
        <div class="space"></div>
        <div class="description-title">
         <div class="title">Weather Forecast</div>
         <div class="space-title-description-today"></div>
         <div class="description-today">
            <div class="weather"><i class="bi bi-cloud-rain"></i></div>
            <div class="space-weather-today"></div>
            <div class="today">
              <div class="today-title">Today</div>
              <div class="today-date">sat, 3 Aug</div>
            </div>
         </div>
         <div class="space-tem-description-today"></div>
         <div class="tem">
          <div class="tem-number">28</div>
          <div class="tem-degre"><i class="wi wi-celsius tem-degre"></i></div>
         </div>
         <div class="localisation">
            <div>Barcelone, Spain <i class="bi bi-app-indicator"></i></div>
         </div>
         <div class="space-localisation-currently"></div>
         <div class="currently">
           <div>Feels like 32 . Sunset 20:15</div>
         </div>
        </div>
     </div>
     <div class="space-menu-title-page"></div>
    <div class="page">
      <div class="page-today">
        <div>Today</div>
        <div class="online"></div>
      </div>
      <div class="page-tomorrow">
        <div>Tomorrow</div>
        <div class="online"></div>
      </div>
      <div class="page-next-7-days">Next 7 Days <i class="bi bi-chevron-right"></i> </div>
    </div>
    <div class="space-page-wrapper-weather"></div>
    <div class="wrapper-weather">
      <div class="item">
        <div> box-1</div>
        <div> box-1</div>
      </div>
      <div class="item">
        <div>box-2</div>
        <div>box-2</div>
      </div>
      <div class="item">
        <div>box-3</div>
        <div>box-3</div>
      </div>
      <div class="item">
        <div>box-4</div>
        <div>box-4</div>
      </div>
      <div class="item">
        <div>box-5</div>
        <div>box-5</div>
      </div>
      <div class="item">
        <div>box-6</div>
        <div>box-6</div>
      </div>

    </div>
</div>

<!-- <p>today works Compiled successfully Compiled successfully!<i class="bi bi-list-nested"></i></p>
<i class="bi bi-chevron-right"></i> <i class="wi wi-day-sunny"></i>
<p><i class="wi wi-day-sunny"></i></p><i class="bi bi-cloud-rain"></i><i class="bi bi-app-indicator"></i><i class="bi bi-box-arrow-in-down-left"></i>
 <i class="wi wi-celsius"></i> -->