.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
  }

  .swatch_6{
    background: #3c405c;
    color: #e4f5fd;
   }

.swatch_3{
    background: #e4f5fd;
    color: #03030e;
}