<div class="container">
  <div class="next-7-days">
    <div class="title-description">
     <div class="menu"><i class="bi bi-list-nested"></i></div>
     <div class="space"></div>
     <div class="title">Weather Forecast</div>
    </div>
    <div class="space-title-description-chevron"></div>
    <div class="chevron" (click)="back()"><i class="bi bi-chevron-left"></i></div>
    <div class="space"></div>
    <div class="space-chevron-text"></div>
    <div class="text"><span class="next">Next</span> <span class="days"> 7 days</span></div>
  </div>
  <div class="card">
   <div class="card-container">
    <div class="monday-temperature">
     <div class="monday">Monday</div>
     <div class="space-monday-cloud"></div>
     <div class="cloud"><i class="bi bi-cloud-sun-fill"></i></div>
     <div class="space-cloud-tem-number"></div>
     <div class="tem-number">26</div>
     <div class="tem-degre-first"><i class="wi wi-celsius tem-degre"></i></div>
     <div class="space-temperature"></div>
     <div class="tem-number-second">19</div>
     <div class="tem-degre-second"><i class="wi wi-celsius tem-degre"></i></div>
    </div>
    <div class="space-monday-temperature-wind-first"></div>
    <div class="wind-first">
      <div class="wind-visibility">
        <div class="wind">Wind</div>
        <div class="visibility">Visibility</div>
      </div>
      <div class="wind-humidity-value">
        <div class="wind-value">12 m/h</div>
        <div class="visibility-value">25 m/h</div>
      </div>
      <div class="humidity-uv">
        <div class="humidity">Humidity</div>
        <div class="uv">UV</div>
      </div>
      <div class="humidity-uv-value">
        <div class="humidity-value">55%</div>
        <div class="uv-value">1</div>
      </div>     
    </div>  
  </div>
 </div>
 <div class="space-days-item"></div>
 <div class="twenty-container">
  <div class="twenty"><div>20</div> <div><i class="wi wi-celsius tem-degre"></i></div></div>
 </div>
 <div class="day-item">
  <div class="day-description">
    <div class="day">TUE</div>
    <div class="day-value">
      <div class="precipation-icon"><i class="wi wi-raindrop"></i></div>
      <div class="space-precipation">50%</div>
    </div>
   </div>
   <div class="space-days-icon"></div>
   <div class="icom"><i class="bi bi-cloud-sun-fill cloud"></i></div>
   <div class="space-days-icon"></div>
   <div class="diagram-dash">
    <div class="temperature"><div>15</div><div class="temperature-celsius"><i class="wi wi-celsius tem-degre"></i></div></div>
    <div class="space-temperature-apparent"></div>
    <div class="diagram-dash-left"></div>
    <div class="diagram"> 
      <div class="diagram-white"></div>
      <div class="diagram-line"></div>
      <div class="diagram-red"></div>
    </div>
    <div class="diagram-dash-right"></div>
    <div class="space-temperature-apparent-right"></div>
    <div class="temperature-apparent"><div>24</div><div class="temperature-celsius"><i class="wi wi-celsius tem-degre"></i></div></div>
  </div>
 </div>
 <div class="space-item"></div>
 <div class="day-item">
  <div class="day-description">
    <div class="day">WED</div>
    <div class="day-value">
      <div class="precipation-icon"><i class="wi wi-raindrop"></i></div>
      <div class="space-precipation">50%</div>
    </div>
   </div>
   <div class="space-days-icon"></div>
   <div class="icom-wed"><i class="bi bi-sun-fill"></i></div>
   <div class="space-days-icon"></div>
   <div class="diagram-dash">
    <div class="temperature"><div>19</div><div class="temperature-celsius"><i class="wi wi-celsius tem-degre"></i></div></div>
    <div class="space-temperature-apparent-wed"></div>
    <div class="diagram-dash-left-wed"></div>
    <div class="diagram"> 
      <div class="diagram-white-wed"></div>
      <div class="diagram-line"></div>
      <div class="diagram-red-wed"></div>
    </div>
    <!-- <div class="diagram-dash-right"></div> -->
    <div class="space-temperature-apparent-right-wed"></div>
    <div class="temperature-apparent"><div>28</div><div class="temperature-celsius"><i class="wi wi-celsius tem-degre"></i></div></div>
  </div>
 </div>
 <div class="space-item"></div>
 <div class="day-item">
  <div class="day-description">
    <div class="day">THU</div>
    <div class="day-value">
      <div class="precipation-icon"><i class="wi wi-raindrop"></i></div>
      <div class="space-precipation">50%</div>
    </div>
   </div>
   <div class="space-days-icon"></div>
   <div class="icom"><i class="bi bi-cloud-sun-fill cloud"></i></div>
   <div class="space-days-icon"></div>
   <div class="diagram-dash">
    <div class="temperature"><div>17</div><div class="temperature-celsius"><i class="wi wi-celsius tem-degre"></i></div></div>
    <div class="space-temperature-apparent-wed"></div>
    <div class="diagram-dash-left-thu"></div>
    <div class="diagram"> 
      <div class="diagram-white-thu"></div>
      <div class="diagram-line"></div>
      <div class="diagram-red-thu"></div>
    </div>
    <div class="diagram-dash-right-thu"></div>
    <div class="space-temperature-apparent-right-wed"></div>
    <div class="temperature-apparent"><div>25</div><div class="temperature-celsius"><i class="wi wi-celsius tem-degre"></i></div></div>
  </div>
 </div>
 <div class="space-item"></div>
 <div class="day-item">
  <div class="day-description">
    <div class="day">FRI</div>
    <div class="day-value">
      <div class="precipation-icon"><i class="wi wi-raindrop"></i></div>
      <div class="space-precipation">50%</div>
    </div>
   </div>
   <div class="space-days-icon"></div>
   <div class="icom"><i class="bi bi-cloud-sun-fill cloud"></i></div>
   <div class="space-days-icon"></div>
   <div class="diagram-dash">
    <div class="temperature"><div>15</div><div class="temperature-celsius"><i class="wi wi-celsius tem-degre"></i></div></div>
    <div class="space-temperature-apparent"></div>
    <div class="diagram-dash-left"></div>
    <div class="diagram"> 
      <div class="diagram-white"></div>
      <div class="diagram-line-fri"></div>
      <div class="diagram-red-fri"></div>
    </div>
    <div class="diagram-dash-right-fri"></div>
    <div class="space-temperature-apparent-right"></div>
    <div class="temperature-apparent"><div>21</div><div class="temperature-celsius"><i class="wi wi-celsius tem-degre"></i></div></div>
  </div>
 </div>
 <div class="space-item"></div>
 <div class="day-item">
  <div class="day-description">
    <div class="day">SAT</div>
    <div class="day-value">
      <div class="precipation-icon"><i class="wi wi-raindrop"></i></div>
      <div class="space-precipation">50%</div>
    </div>
   </div>
   <div class="space-days-icon"></div>
   <div class="icom-sat"><i class="bi bi-cloud-rain-fill weather"></i></div>
   <div class="space-days-icon"></div>
   <div class="diagram-dash">
    <div class="temperature"><div>14</div><div class="temperature-celsius"><i class="wi wi-celsius tem-degre"></i></div></div>
    <div class="space-temperature-apparent"></div>
    <!-- <div class="diagram-dash-left"></div> -->
    <div class="diagram"> 
      <div class="diagram-white-fri"></div>
      <div class="diagram-line-space"></div>
      <!-- <div class="diagram-line"></div> -->
      <!-- <div class="diagram-red-fri"></div> -->
    </div>
    <div class="diagram-dash-right-fri"></div>
    <div class="space-temperature-apparent-right"></div>
    <div class="temperature-apparent"><div>18</div><div class="temperature-celsius"><i class="wi wi-celsius tem-degre"></i></div></div>
  </div>
 </div>
 <div class="space-item"></div>
 <div class="day-item">
  <div class="day-description">
    <div class="day">SUN</div>
    <div class="day-value">
      <div class="precipation-icon"><i class="wi wi-raindrop"></i></div>
      <div class="space-precipation">50%</div>
    </div>
   </div>
   <div class="space-days-icon"></div>
   <div class="icom-wed"><i class="bi bi-sun-fill"></i></div>
   <div class="space-days-icon"></div>
   <div class="diagram-dash">
    <div class="temperature"><div>18</div><div class="temperature-celsius"><i class="wi wi-celsius tem-degre"></i></div></div>
    <div class="space-temperature-apparent"></div>
    <div class="diagram-dash-left-sun"></div>
    <div class="diagram-sun"> 
      <div class="diagram-white-sun"></div>
      <div class="diagram-line"></div>
      <div class="diagram-red-sun"></div>
    </div>
    <div class="diagram-dash-right"></div>
    <div class="space-temperature-apparent-right"></div>
    <div class="temperature-apparent"><div>24</div><div class="temperature-celsius"><i class="wi wi-celsius tem-degre"></i></div></div>
  </div>
 </div>
</div> 